 {{> navbar}} 

<div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">About</p>
          <p class="subtitle">Conoce un poco acerca de nosotros </p>
          
        </article>
      </div>
    

<div class="columns">
  <div class="column is-half">
                        
                          <div class="card">
                        <div class="card-image">
                          <figure class="image is-4by3">
                            <img src="/img/logo.jpg" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-left">
                              <figure class="image is-48x48">
                                <img src="/img/logo.jpg" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="media-content">
                              <p class="title is-4">ClimaMX</p>
                              <p class="subtitle is-6">@ClimaMX</p>
                            </div>
                          </div>

                          <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris. 
                            
                            
                          </div>
                        </div>
                      </div>
                      </div>
<div class="column"></div>
<div class="column"></div>
</div> 



<div class="columns">
  <div class="column ">
                        
    </div>
                        
<div class="column"></div>
<div class="column is-half">  
  <div class="card">
                        <div class="card-image">
                          <figure class="image is-4by3">
                            <img src="/img/vision.jpg" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-left">
                              <figure class="image is-48x48">
                                <img src="/img/logo.jpg" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="media-content">
                              <p class="title is-4">Visión</p>
                              <p class="subtitle is-6">@ClimaMX</p>
                            </div>
                          </div>

                          <div class="content">
                            Ser una institución educativa líder en educación tecnológica, en el Estado de Colima, con ambientes democráticos a favor del desarrollo sostenible de la humanidad.

                            
                            
                          </div>
                        </div>
                      </div>
                      </div></div>
</div> 



<div class="columns">
  <div class="column is-half">
                        
                          <div class="card">
                        <div class="card-image">
                          <figure class="image is-4by3">
                            <img src="/img/mision.jpg" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-left">
                              <figure class="image is-48x48">
                                <img src="/img/logo.jpg" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="media-content">
                              <p class="title is-4">Mision</p>
                              <p class="subtitle is-6">@ClimaMX</p>
                            </div>
                          </div>

                          <div class="content">
                            Formar seres humanos íntegros con saberes pertinentes y competencias globales para la transformación armónica de la sociedad.
. 
                            
                            
                          </div>
                        </div>
                      </div>
                      </div>
<div class="column"></div>
<div class="column"></div>
</div> 

 {{> footer}} 
   