 {{> navbar}} 

<div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">Help</p>
          <p class="subtitle">Configuración y ayuda </p>
          <p> En esta página podrá encontrar el significado de los diferentes iconos usados en el portal de manera informativa y como complemento a los datos y temperaturas registrados.Aquí podrá consultar la información relativa a símbolos atmosféricos, vientos, índices UV y nuestras recomendaciones principales para su seguridad.</p>

        </article>
      </div>
<div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Simbolos atmosfericos </p>
            <div class="card-image">
               <figure class="image is-400x300">
                  <img src="/img/simbolos.png" alt="Placeholder image">
               </figure>
            </div>
          </div> 
        </article>
      </div>


<div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">Precipitación</p>
           <div class="field">
            <div class="card-image">
               <figure class="image is-400x300">
                  <img src="/img/precipitacion.png" alt="Placeholder image">
               </figure>
            </div>
          </div>  
          <p class="subtitle">La precipitación acumulada se define como la cantidad de precipitación (agua, nieve, aguanieve, granizo...) caída durante un intervalo de tiempo determinado (1 hora, 3 horas o 1 día). Se puede medir en litros por metro cuadrado (l/m²), unidad equivalente al milímetro (mm) ya que un litro de agua sobre un metro cuadrado se elevaría 1 mm desde el suelo. También se puede expresar en pulgadas (in), existiendo la siguiente relación entre todas estas unidades: </p>
          <p class="subtitle">1 l/m2 = 1 mm = 0.039 in</p>
          <p class="subtitle">La probabilidad de precipitación representa la fiabilidad de que haya cualquier tipo de precipitación durante el intervalo de tiempo seleccionado (1 hora, 3 horas o 1 día). Cabe destacar que esta probabilidad de precipitación no está relacionada con la cantidad de precipitación acumulada, es decir, mayor cantidad de precipitación acumulada no tiene por qué representar una probabilidad de precipitación mayor.</p>

        </article>
      </div>


 {{> footer}} 